p{
    color:red;
    }
    p{
    color:blue;

    }
    #blue{
    color:blue;
    }
    #red{
    color:red;
    }

    .yellow{
    color:yellow;

    }

    .image{
        border: 5px black dotted;
        padding: 4px;
        }
        .image:hover{
        border: 5px red solid;
        }